@{
    ViewBag.Title = "Home Page";
}
@model List<DesignAndPrintStickers.Models.IndexViewModels>


<div class="col-md-12 pull-left row-header">
    <div class="col-md-2">
        <hr />
    </div>

    <h4 class="col-md-3">Start with paper size</h4>

    <div class="col-md-4">
        <hr />
    </div>
</div>
<div class="clearfix"></div>


<div class="col-md-12 pull-left row-body">
    <button data-papersizename="A4" class="btn btn-info btn-sm col-md-2 text-justify sharp-corners btn-choose-paper">
        <span class="pull-left">
            <p class="custom-heading">A4 Standard</p>
        </span>

        <span>
            |
        </span>
        <span class="pull-right">
            <p class="custom-size">210 x 297 mm</p>
        </span>
    </button>

    <button data-papersizename="US Letter" class="btn btn-info btn-sm col-md-2 text-justify sharp-corners  btn-choose-paper">
        <span class="pull-left">
            <p class="custom-heading">US Letter</p>
        </span>

        <span>
            |
        </span>
        <span class="pull-right">
            <p class="custom-size">216 x 279 mm</p>
        </span>
    </button>

</div>
<div class="col-md-12 pull-left row-header">
    <div class="col-md-2">
        <hr />
    </div>

    <h4 class="col-md-3">Choose template</h4>

    <div class="col-md-4">
        <hr />
    </div>
</div>
<div class="clearfix"></div>


<div class="col-md-12  choose-template-row">

    @foreach (var template in Model)
    {
        <div class="col-md-3 template" data-templatename="@template.Name">

            <div class="panel panel-primary">
                <div class="panel-heading">@template.Name  - Boxes in current template - @template.BoxCount </div>
                <div class="panel-body">

                    @for (int j = 0; j < template.BoxCount; j++)
                    {
                        <div class="template-box @template.CssClass">

                        </div>
                    }
                </div>
            </div>
        </div>
    }



</div>

<div class="col-md-12 pull-left row-header">
    <div class="col-md-2">
        <hr />
    </div>

    <h4 class="col-md-3">Add or edit images</h4>

    <div class="col-md-4">
        <hr />
    </div>
</div>
<div class="clearfix"></div>

<div class="col-md-12 add-image-row">
    <button class="btn btn-info btn-lg sharp-corners col-md-3 col-md-offset-1" id="btnAddImage">Open popup for editing</button>
</div>

@*<div class="col-md-12 pull-left row-header">
        <div class="col-md-2">
            <hr />
        </div>

        <h4 class="col-md-3">Print template or edit it</h4>

        <div class="col-md-4">
            <hr />
        </div>
    </div>*@


<div class="clearfix"></div>

<div class="modal fade" id="AddImagesModal" tabindex="-1" role="dialog" aria-labelledby="AddImagesModal-label">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

        </div>
    </div>
</div>

@Html.Partial("ModalTemplates/UploadAndCropImageForOneBox")

@section Scripts{
    <script src="~/Scripts/jquery.printelement.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropper/2.3.2/cropper.min.js"></script>
    <script>
        $(function () {
            $('#fileuploadForAll').fileupload({
                progressall: function (e, data) {
                    var progress = parseInt(data.loaded / data.total * 100, 10);
                    $('#progress .bar').css(
                        'width',
                        progress + '%'
                    );
                },
                dataType: 'json',
                done: function (e, data) {
                    var imagePath = "../Uploads/" + data.result.filename;
                    console.log(imagePath);
                    $('#image').attr("src", imagePath);
                    $('#image').show();
                    $('#uploaderForAll').hide();
                    ImageCropper.InitCrop();
                }
            });
        });
    </script>
    <script>
        var ImageCropper = {
            config: {
                cropX: 0,
                cropY: 0,
                cropHeight: 0,
                cropWidth: 0
            },
            init: function () {
                this.BindEvents();
            },
            BindEvents: function () {
                $('.btnCrop').on('click', function () {
                    var objImage = $('#image').cropper('getCropBoxData');
                    ImageCropper.Crop(objImage);
                });
                $('.btnCropAndAddToAll').on('click', function () {
                    var objImage = $('#imageForAll').cropper('getCropBoxData');
                    ImageCropper.CropForAll(objImage);
                });



            },
            InitCrop: function () {
                //initialize the cropper method
                $('#image').cropper({
                    aspectRatio: 16 / 9,
                    dragMode: 'move', //enabling dragging of image
                    center: true,
                    autoCrop: true, //use this to just zoom and pan image around
                    autoCropArea: 1, //the size of the crop box
                    zoomable: true,
                    zoomOnWheel: true,
                    crop: function (e) {
                        // Output the result data for cropping image.
                        ImageCropper.SetSizeandCoordinates(e);
                    }
                });

            },

            InitCropForAll: function () {
                //initialize the cropper method
                $('#imageForAll').cropper({
                    aspectRatio: 16 / 9,
                    dragMode: 'move', //enabling dragging of image
                    center: true,
                    autoCrop: true, //use this to just zoom and pan image around
                    autoCropArea: 1, //the size of the crop box
                    zoomable: true,
                    zoomOnWheel: true,
                    crop: function (e) {
                        // Output the result data for cropping image.
                        ImageCropper.SetSizeandCoordinates(e);
                    }
                });

            },

            SetSizeandCoordinates: function (e) {
                ImageCropper.config.cropX = e.x;
                ImageCropper.config.cropY = e.y;
                ImageCropper.config.cropHeight = e.height;
                ImageCropper.config.cropWidth = e.width;
            },
            Crop: function () {
                var param = {
                    imagePath: $('#image').attr("src").split("?")[0],
                    cropPointX: ImageCropper.config.cropX,
                    cropPointY: ImageCropper.config.cropY,
                    imageCropWidth: ImageCropper.config.cropWidth,
                    imageCropHeight: ImageCropper.config.cropHeight
                };
                ajx.invoke('/Home/CropImage', JSON.stringify(param), function (data) {
                    //can refresh the image path in the original location
                    //destroy the crop instance
                    $('#image').cropper('destroy');
                    //replace the original image with new image
                    //timestamp is used to avoid caching
                    //$('.active-box').attr("style","background-image: url("+ data.photoPath + "?t=" + new Date().getTime()+")");

                    var img = $('#AddImageModalBody .template-box img').length;
                    if (img) {
                        $('#AddImageModalBody .template-box img').remove();
                    }
                    $('#AddImageModalBody .template-box').append("<img src='" + data.photoPath + "?t=" + new Date().getTime() + "' style='width: 100%; height: 100%; float: left;' />");

                    $('#uploaderForAll').show();
                    $('#image').attr("src", "");
                    $('#image').hide();


                    $('.add-picture-modal').modal('hide');
                });
            },
            CropForAll: function () {
                var param = {
                    imagePath: $('#imageForAll').attr("src").split("?")[0],
                    cropPointX: ImageCropper.config.cropX,
                    cropPointY: ImageCropper.config.cropY,
                    imageCropWidth: ImageCropper.config.cropWidth,
                    imageCropHeight: ImageCropper.config.cropHeight
                };


                ajx.invoke('/Home/CropImage', JSON.stringify(param), function (data) {
                    //can refresh the image path in the original location
                    //destroy the crop instance
                    $('#imageForAll').cropper('destroy');
                    //replace the original image with new image
                    //timestamp is used to avoid caching
                    //$('.active-box').attr("style","background-image: url("+ data.photoPath + "?t=" + new Date().getTime()+")");
                    $(".box").each(function (index, element) {
                        var img = $(element).children(".panel-body").children("img").length;
                        console.log(img > 0);
                        if (img) {
                            $(element).children(".panel-body").children("img").remove();
                            console.log("have image");
                        }

                        $(element).children(".panel-body").append("<img src='" + data.photoPath + "?t=" + new Date().getTime() + "' style='width: 100%; height: 100%; float: left;' />");
                        console.log("appended image");
                    });


                    $(".k-upload ").show();
                    $('#imageForAll').attr("src", "");
                    $('#imageForAll').hide();
                    $('.add-to-all-modal').modal('toggle');
                });
            },

        };

        $(document).ready(function () {
          $(document).on('hidden.bs.modal', '.modal', function () {
    $('.modal:visible').length && $(document.body).addClass('modal-open');
});
            var fourColumnHeight = $(".template-box").width();
            $(".template-box").height(fourColumnHeight);
            ImageCropper.init();
        });

    </script>
}
