@{
    ViewBag.Title = "Home Page";
}
@model List<DesignAndPrintStickers.Models.IndexViewModels>
<span id="styletorender"></span>

<div class="col-md-12 pull-left row-header">
    <div class="col-md-2">
        <hr />
    </div>

    <h4 class="col-md-3">Start with paper size</h4>

    <div class="col-md-4">
        <hr />
    </div>
</div>
<div class="clearfix"></div>


<div class="col-md-12 pull-left row-body">

    <button data-papersizename="US Letter" class="btn btn-info btn-sm col-md-3 text-justify sharp-corners  btn-choose-paper">
        <span class="pull-left">
            <p class="custom-heading">US Letter</p>
        </span>

        <span>
            |
        </span>
        <span class="pull-right">
            <p class="custom-size">216 x 279 mm</p>
        </span>
    </button>

    <button data-papersizename="A4" class="btn btn-info btn-sm col-md-3 text-justify sharp-corners btn-choose-paper">
        <span class="pull-left">
            <p class="custom-heading">A4 Standard</p>
        </span>

        <span>
            |
        </span>
        <span class="pull-right">
            <p class="custom-size">210 x 297 mm</p>
        </span>
    </button>
</div>
<div class="col-md-12 pull-left row-header">
    <div class="col-md-2">
        <hr />
    </div>

    <h4 class="col-md-3">Choose a template</h4>

    <div class="col-md-4">
        <hr />
    </div>
</div>
<div class="clearfix"></div>


<div class="col-md-12  choose-template-row">

    @foreach (var template in Model)
    {
        <div class="template" data-templatename="@template.Name" data-boxesperrow="@template.BoxesPerRow" data-borderradius="@template.BorderRadiusPercent">

            <div class="panel panel-primary">
                <div class="panel-heading">@template.Name  - @template.BoxCount labels per sheet</div>
                <div class="panel-body">

                    @for (int j = 0; j < template.BoxCount; j++)
                    {
                        <div class="template-box @template.CssClass" style="@template.Css ; border-radius: @template.BorderRadiusPercent%; ">

                        </div>
                    }
                </div>
            </div>
        </div>
    }



</div>

<div class="col-md-12 pull-left row-header">
    <div class="col-md-2">
        <hr />
    </div>

    <h4 class="col-md-3">Add or edit images</h4>

    <div class="col-md-4">
        <hr />
    </div>
</div>
<div class="clearfix"></div>

<div class="col-md-12 add-image-row">
    <button class="btn btn-info btn-lg sharp-corners col-md-3 col-md-offset-1" id="btnAddImage">Open popup for editing</button>
</div>

@*<div class="col-md-12 pull-left row-header">
        <div class="col-md-2">
            <hr />
        </div>

        <h4 class="col-md-3">Print template or edit it</h4>

        <div class="col-md-4">
            <hr />
        </div>
    </div>*@


<div class="clearfix"></div>

<div class="modal fade" id="AddImagesModal" tabindex="-1" role="dialog" aria-labelledby="AddImagesModal-label">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

        </div>
    </div>
</div>

@Html.Partial("ModalTemplates/UploadAndCropImageForOneBox")

@Html.Partial("ModalTemplates/UploadAndCropImageToAll")

<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModal-label">
    <div class="modal-dialog modal-lg" role="document" style="margin-top: 10%; text-align: left">
        @Html.Partial("LoginPartial", new DesignAndPrintStickers.Models.LoginViewModel())

    </div>
</div>

@section Scripts{
    <script src="~/Scripts/jquery.printelement.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropper/2.3.2/cropper.min.js"></script>
    <script src="~/Scripts/ImageCropperConfig.js"></script>

    <script>
        $(function () {
            $('#fileuploadForOne').fileupload({
                progressall: function (e, data) {
                    var progress = parseInt(data.loaded / data.total * 100, 10);
                    $('.progressForOne .bar').css(
                        'width',
                        progress + '%'
                    );
                },
                dataType: 'json',
                done: function (e, data) {
                    var imagePath = "../Uploads/" + data.result.filename;
                    console.log(imagePath);
                    $('#image').attr("src", imagePath);
                    $('#image').show();
                    $('#uploaderForOne').hide();
                    ImageCropper.InitCrop();

                }
            });
        });

        $(function () {
            $('#fileuploadForAll').fileupload({
                progressall: function (e, data) {
                    var progress = parseInt(data.loaded / data.total * 100, 10);
                    $('.progress .bar').css(
                        'width',
                        progress + '%'
                    );
                },
                dataType: 'json',
                done: function (e, data) {
                    var imagePath = "../Uploads/" + data.result.filename;
                    console.log(imagePath);
                    $('#imageForAll').attr("src", imagePath);
                    $('#imageForAll').show();
                    $('#uploaderForAll').hide();
                    ImageCropper.InitCropForAll();

                }
            });
        });
    </script>
    <script>


        $(document).ready(function () {
            $('INPUT[type="file"]').change(function () {
                var ext = this.value.match(/\.(.+)$/)[1];
                switch (ext) {
                    case 'jpg':
                    case 'jpeg':
                    case 'png':
                    case 'gif':
                        $('#uploadButton').attr('disabled', false);
                        break;
                    default:
                        alert('This is not an allowed file type.');
                        this.value = '';
                        return;
                }
            });
            $(document).on('hidden.bs.modal', '.modal', function () {
                $('.modal:visible').length && $(document.body).addClass('modal-open');
            });
            //var fourColumnHeight = $(".template-box").width();
            //$(".template-box").height(fourColumnHeight);


            $(".template-box").each(function () {
                var widthBox = $(this).width();
                if ($(this).hasClass("template-rectangle")) {
                    $(this).height(widthBox / 1.59);
                    return;
                }
                $(this).height(widthBox);
            });
            ImageCropper.init();
        });

    </script>
}
