<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>app.yeppey.com</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/overhang.min.css" rel="stylesheet" />
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/cropper/2.3.2/cropper.min.css" rel="stylesheet" />
    <link href="~/Content/Templates.min.css" rel="stylesheet" />
</head>
<body>
    <div id="wrapper" data-spy="scroll" data-target="#spy" class="">
        @Html.Partial("Menus/SideMenu")
        <!-- Page content -->
        <div id="page-content-wrapper" class="">

            <div class="content-header">
                <h1 id="home" class="pull-left">
                    <a href="#" class="btn btn-menu btn-lg toggle menu-toggle">
                        <span class="glyphicon glyphicon-align-justify"></span>

                    </a>
                </h1>
                <div class="pull-right">
                    <div class="btn-group" role="group" aria-label="...">
                        <a href="https://www.facebook.com/sharer/sharer.php?u=yeppey.com" class="btn btn-primary" target="_blank">
                            Share on FB
                        </a>
                        <a href="https://plus.google.com/share?url=yeppey.com" class="btn btn-danger" target="_blank">
                            Share on G+
                        </a>
                     
                    </div>
                       @using Microsoft.AspNet.Identity
                        @if (Request.IsAuthenticated)
                        {
                            using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "btn-group" }))
                            {
                                @Html.AntiForgeryToken()

                                @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!",
                                       "Index",
                                       "Manage",
                                       routeValues: null, htmlAttributes: new { title = "Manage", @class="btn btn-default" })

                                <a href="javascript:document.getElementById('logoutForm').submit()" class="btn btn-default ">Log off</a>

                            }
                        }
                </div>
            </div>

            @RenderBody()

            <hr />

            <footer>
                <div class="content-wrapper text-center">
                    <div class="float-left">
                        <p>
                            &copy;  www.app.yeppey.com @DateTime.Now.Year- Version @typeof(MvcApplication).Assembly.GetName().Version <br />
                            Designed by Petya Petkova
                            <a href="http://www.acceler8design.com" target="_blank" title="www.acceler8design.com">www.acceler8design.com</a>
                            , Programmed by Svetlin Krastanov -
                            <a href="http://www.s2kdesign.com" target="_blank" title="www.s2kdesign.com">www.s2kdesign.com</a>
                        </p>

                    </div>
                </div>
            </footer>
        </div><a href="#" target="_blank" class="">

        </a>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

    <script src="~/Scripts/jQuery.FileUpload/jquery.iframe-transport.js"></script>
    <script src="~/Scripts/jQuery.FileUpload/jquery.fileupload.js"></script>

    <script src="~/Scripts/overhang.min.js"></script>
    <script src="~/Scripts/ClickEvents.js"></script>
    <script src="~/Scripts/DesignAndPrintStickers.js"></script>

    <script>

        $(document).ready(function () {
            /*Menu-toggle*/
            $(".menu-toggle").click(function (e) {
                e.preventDefault();
                $("#wrapper").toggleClass("active");
            });
        });
    </script>
</body>

</html>
