@{
    Layout = null;
}


<div class="modal-content" id="modalBodyLogin">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title pull-left" id="loginModal-label">Log in</h4>
    </div>
    <div class="modal-body">



        @using DesignAndPrintStickers.Models
        @model LoginViewModel


        <div class="row">
            <div class="col-md-12">
                <section id="loginForm">
                    @using (Ajax.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, new AjaxOptions { UpdateTargetId = "modalBodyLogin", InsertionMode = InsertionMode.Replace, OnSuccess = "HideModalLogin" }, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <h4>Use a local account to log in.</h4>
                        <hr />
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                                    <div class="col-md-10">
                                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                                    <div class="col-md-10">
                                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <div class="checkbox">
                                            @Html.CheckBoxFor(m => m.RememberMe)
                                            @Html.LabelFor(m => m.RememberMe)
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <input type="submit" value="Log in" class="btn btn-info btn-lg" />
                                    </div>
                                </div>

                                @* Enable this once you have account confirmation enabled for password reset functionality
                                    <p>
                                        @Html.ActionLink("Forgot your password?", "ForgotPassword")
                                    </p>*@
                    }
                </section>
            </div>
            @*<div class="col-md-4">
                    <section id="socialLoginForm">
                        @Html.Partial("~/Views/Account/_ExternalLoginsListPartial.cshtml", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
                    </section>
                </div>*@
        </div>

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }





    </div>
    <div class="modal-footer">

            <div class="btn-group pull-left" role="group" aria-label="...">
                @Ajax.ActionLink("Register as a new user", "GetRegisterForm", "Home", null,
                                   new AjaxOptions { UpdateTargetId = "modalBodyLogin", InsertionMode = InsertionMode.Replace, OnSuccess = "HideModalLogin" }, new { @class = "btn btn-default" })

                @Html.ActionLink("Forgot your password?", "ForgotPassword", "Account", null, new { @class = "btn btn-default" })
            </div>

        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
    </div>
</div>
