@model DesignAndPrintStickers.Models.AddImagesModalPartialViewModel

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="AddImagesModal-label">@Model.TemplateName - Choosen Paper size: @Model.PaperSizeName</h4>
</div>
<div class="modal-body" id="AddImageModalBody" style="width: 100%">
    <button class="btn btn-info btn-lg">Add image to all boxes</button>
    <div style="width: @String.Format("{0}{1}", 100, "%"); height: @String.Format("{0}{1}",Model.PaperSizeHeight,"mm")">
        @for (int j = 0; j < Model.BoxesCount; j++)
        {
            <div class="template-box @Model.TemplateClass" style="height: 15%">

            </div>
        }
    </div>


</div>
<div class="modal-footer">

        
        <div class="col-md-2 ">
            <button class="btn btn-info btn-lg sharp-corners">
                Print
            </button>
        </div>
        <div class="col-md-3">
            <button class="btn btn-info btn-lg sharp-corners">
                Save in .pdf
            </button>
        </div>
        <div class="col-md-3">
            <button class="btn btn-info btn-lg sharp-corners">
                Send via email
            </button>
        </div>
    <div class="col-md-3">
        <button class="btn btn-info btn-lg sharp-corners" data-dismiss="modal">
           Close
        </button>
    </div>
</div>